body {
  background-color: #e0e0e0;
  color: #333;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 1.5em;
}

code {
  background-color: #aaa;
  border-radius: 0.4em;
  color: #c2185b;
  font-family: ui-monospace, monospace;
  padding: 0 0.3em 0.1em 0.3em;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #60a5fa;
  }

  body {
    background-color: #333;
    color: #e0e0e0;
  }

  code {
    background-color: #222;
    color: #c2185b;
  }
}
